
:root {
  --red : #F95D6B;
  --blue : rgba(236, 244, 246, 1);
  --black: #322A2D;
}

.h1,.h2,.h3,.h4,.h5,.h6{ 

  color: var(--red);
}

body{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--red);
  top: 0;
  background-color: var(--blue);
}


/* navbar */

.navbar{

  width: 100%;
  /* border: 1px solid; */
  top: 0;
  /* position: fixed; */
  background-color: var(--blue);
  padding-top: 10px;
  height: auto;
  z-index: 2;


}

.navbar-toggler{

  border: 0.5px solid var(--red);
  /* color: var(--red);
  background-color: var(--blue); */
  /* width: 45px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler img{

  width: 20px;
  height: 20px;
  object-fit: cover;
}

#main-nav{

  /* border: 1px solid; */
  background-color: rgba(236, 244, 246, 1);
  

}

#logo{

  width: 40px;
  height:40px;
  z-index: 2;
}


a span:hover{

  /* border-bottom: var(--black) 1px solid; */
  color: var(--black);
   

}


/* home */

#home{

  background: url('./assets/backgrounds/homeImage.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;
  z-index: 1;
}


.contained{

  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 350px;
  /* padding-top: 100px ; */
  flex-direction: column;
  height: 500px;
  
}

.contained p{

  letter-spacing: 1px;
}

#home-logo{

  border-bottom: var(--black) 3px solid;
}



#home-logo img {

  
  height: 110px;
  width: 110px;
  margin: 10px;
}

/* chefs */


#chefs{

  background-color: var(--blue);
  height: auto;
  /* position: relative; */
}


#chef-container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#chef-container h2{

  border-bottom: 2px solid var(--black);
}


.chef-img{

  width: 150px;
  height: 300px;

}
.chef-img img{

  width: 100%;
  height: 100%;
  object-fit: cover;

}

.flag-container{

  width: 60px;
  height: 35px;
}

#flag1, #flag2, #flag3, #flag4, #flag5{

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 8px;
}

.flag-container img{

  width: 100%;
  height: 100%;
  object-fit: cover;

}



/* delivery */


#delivery{

  background-color: var(--blue);
  height: auto;
  position:inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  /* margin-top: 100px; */
}

#delivery-container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid; */
}

#delivery-container h2{

  border-bottom: 2px solid var(--black);
}

.delivery-location{


  width: 200px;
  height: 200px;
  /* margin-top: 50px; */

}

.delivery-location img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 30px;
}


.transport-container{

  width: 70px;
  height: 70px;
  /* border: 1px solid var(--red); */
  margin: 20px;
  /* border-radius: 20px; */
}

.transport-container img{

  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* contact */

#contact{

  background-color: var(--blue);
  height: auto;
  position:inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  /* margin-top: 100px; */
  margin-top: 40px;
}

#contact-container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid; */
}





#contact-container h2{

  border-bottom: 2px solid var(--black);

}

.contact-container{

  width: 50px;
  height: 50px;
  /* border: 1px solid var(--red); */
  margin: 20px;
  /* border-radius: 20px; */
  transition: 0.2s all linear;
  border-radius: 50%;
}

.contact-container:hover{

  box-shadow: 0px 5px 5px #322A2D ;
  cursor: pointer;
  transform: scale(1.05);


}

.contact-container img{

  width: 100%;
  height: 100%;
  object-fit: cover;
}

hr{

  border: 3px solid var(--red);
}

#line{

  width: 60%;
  border: 1px solid var(--black);
}